@import "/src/styles/design-token";

:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  font-family: "Roboto";
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.8rem;
  font-weight: 900;
  text-transform: uppercase;
  color: $color-primary;

  &::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: $color-primary;
  }
}

.stories {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 1rem;
}

.story {
  cursor: pointer;
  flex-basis: 100%;
  color: $color-base;
  list-style: inside;
}

@include desktop() {
  .story {
    flex-basis: 24%;
  }
}
