@import "/src/styles/design-token";

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $color-light;
  overflow-x: hidden;
}

.wrapper {
  padding: $space-mobile-small $space-mobile-bigger $space-none;
}

.footer {
  height: $space-mobile-regular;
  width: 100vw;
  background-color: $color-primary;
  margin-top: auto;
}

@include desktop() {
  .wrapper {
    padding: $space-desktop-small $space-desktop-bigger $space-none;
  }
}
