@import "/src/styles/design-token";

:host {
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
}

.loader {
  font-family: "Roboto";
  color: $color-base;
}

.btn-back {
  font-family: "Roboto";
  color: $color-base;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  border: 1px solid $color-base;
  display: block;
  width: 140px;
  text-align: center;
  margin: 0.7rem auto 1rem;
}

@include desktop() {
  .btn-back {
    margin: 0 0 1rem auto;
  }
}
